<div class="flex flex-col items-center justify-center mx-auto pt-12">
  <div class="w-full max-w-2xl px-4 mb-6">
    <h1 class="text-center text-lg font-bold text-gray-600">Edit user:
      <%= @user.name %></h1>
  </div>

  <%= render "form", user: @user %>
</div>
