<div class="flex flex-col items-center justify-center mx-auto pt-12">
  <div class="w-full max-w-2xl px-4 mb-6">
    <h1 class="text-center text-lg font-bold text-gray-600">New Review for:
      <%= link_to @movie.title,
      movie_path(@movie),
      class: "underline text-xl text-cyan-500 hover:text-cyan-700" %></h1>
  </div>

  <%= render "form", movie: @movie, review: @review %>
</div>
