<footer class="bg-gray-700 py-7 text-gray-300 p-4 text-sm">
  <p>
    Copyright &copy;
    <%= Time.now.year %>
    <%= link_to "The Pragmatic Studio", "https://pragmaticstudio.com" %>
  </p>
</footer>
